In [85]:
import pandas as pd
import seaborn as sns

In [86]:
file1_path = 'sampleSubmission.csv'
file2_path = 'test.csv'
file3_path = 'train.csv'

# Read the CSV files into pandas DataFrames
df1 = pd.read_csv(file1_path)
df2 = pd.read_csv(file2_path)
df3 = pd.read_csv(file3_path)

In [87]:
df3.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

In [88]:
print(df3.dtypes)

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

PART 1 Assignment 2

In [89]:
bike_counts = df3

In [90]:
# Load the data into a pandas dataframe
 
# Convert the date column to a pandas datetime format
bike_counts['datetime'] = pd.to_datetime(bike_counts['datetime'])

In [91]:
# Check the data type of each column and number of rows in the dataset
print(bike_counts.dtypes)
print(bike_counts.shape)

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
dtype: object
(10886, 12)

In [92]:
 
# Check if the dataset contains any missing values
print(bike_counts.isnull().sum())

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [93]:

# Create new columns for year, month, day of the week, and hour of the day
bike_counts['year'] = bike_counts['datetime'].dt.year
bike_counts['month'] = bike_counts['datetime'].dt.month
bike_counts['day_of_week'] = bike_counts['datetime'].dt.dayofweek
bike_counts['hour'] = bike_counts['datetime'].dt.hour

In [94]:
# Rename the values in the season column to spring, summer, fall and winter
bike_counts['season'] = bike_counts['season'].map({1: 'spring', 2: 'summer', 3: 'fall', 4: 'winter'})
 
# Calculate the total number of casual and registered bikes rented in the years 2011 and 2012
total_casual_2011 = bike_counts[bike_counts['year'] == 2011]['casual'].sum()
total_registered_2011 = bike_counts[bike_counts['year'] == 2011]['registered'].sum()
 
total_casual_2012 = bike_counts[bike_counts['year'] == 2012]['casual'].sum()
total_registered_2012 = bike_counts[bike_counts['year'] == 2012]['registered'].sum()
 
print("Total casual bikes rented in 2011:", total_casual_2011)
print("Total registered bikes rented in 2011:", total_registered_2011)
print("Total casual bikes rented in 2012:", total_casual_2012)
print("Total registered bikes rented in 2012:", total_registered_2012)

Total casual bikes rented in 2011: 155817
Total registered bikes rented in 2011: 626162
Total casual bikes rented in 2012: 236318
Total registered bikes rented in 2012: 1067179

In [95]:
# Calculate the mean of the hourly total rentals count by season
mean_rentals_by_season = bike_counts.groupby('season')['count'].mean()
print("Mean of the hourly total rentals count by season:", mean_rentals_by_season)

Mean of the hourly total rentals count by season: season
fall      234.417124
spring    116.343261
summer    215.251372
winter    198.988296
Name: count, dtype: float64

2011

In [96]:
# Analyze which months have the highest and lowest total number of bikes rented in 2011 and 2012
highest_bike_count_month_2011 = bike_counts.loc[bike_counts[(bike_counts['year'] == 2011)]['count'].idxmax()]['month']
lowest_bike_count_month_2011 = bike_counts.loc[bike_counts[(bike_counts['year'] == 2011)]['count'].idxmin()]['month']
 
highest_bike_count_month_2012 = bike_counts.loc[bike_counts[(bike_counts['year'] == 2012)]['count'].idxmax()]['month']
lowest_bike_count_month_2012 = bike_counts.loc[bike_counts[(bike_counts['year'] == 2012)]['count'].idxmin()]['month']
 
print("Month with the highest total number of bikes rented in 2011:", highest_bike_count_month_2011)
print("Month with the lowest total number of bikes rented in 2011:", lowest_bike_count_month_2011)

Month with the highest total number of bikes rented in 2011: 6
Month with the lowest total number of bikes rented in 2011: 1

2012

In [97]:
print("Month with the highest total number of bikes rented in 2012:", highest_bike_count_month_2012)
print("Month with the lowest total number of bikes rented in 2012:", lowest_bike_count_month_2012)

Month with the highest total number of bikes rented in 2012: 9
Month with the lowest total number of bikes rented in 2012: 1

In [98]:
total_casual_2011 = bike_counts[bike_counts['year'] == 2011]['casual'].sum()
total_registered_2011 = bike_counts[bike_counts['year'] == 2011]['registered'].sum()

total_casual_2012 = bike_counts[bike_counts['year'] == 2012]['casual'].sum()
total_registered_2012 = bike_counts[bike_counts['year'] == 2012]['registered'].sum()

print("Total casual bikes rented in 2011:", total_casual_2011)
print("Total registered bikes rented in 2011:", total_registered_2011)
print("Total casual bikes rented in 2012:", total_casual_2012)
print("Total registered bikes rented in 2012:", total_registered_2012)

Total casual bikes rented in 2011: 155817
Total registered bikes rented in 2011: 626162
Total casual bikes rented in 2012: 236318
Total registered bikes rented in 2012: 1067179

In [107]:
print(bike_counts.dtypes)

datetime       datetime64[ns]
season                 object
holiday                 int64
workingday              int64
weather                 int64
temp                  float64
atemp                 float64
humidity                int64
windspeed             float64
casual                  int64
registered              int64
count                   int64
year                    int32
month                   int32
day_of_week             int32
hour                    int32
day_period           category
dtype: object

In [100]:
print(bike_counts.columns)

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count',
       'year', 'month', 'day_of_week', 'hour'],
      dtype='object')

In [109]:
# Assuming 'bike_counts' is your DataFrame
correlation_matrix = bike_counts.corr()

# Extract the correlation values for the 'count' column
correlation_with_total_rentals = correlation_matrix['count']

# Find the column with the highest correlation
highest_correlation_column = correlation_with_total_rentals.abs().idxmax()

print("Column with the highest correlation:", highest_correlation_column)

ValueError: could not convert string to float: 'spring'

In [102]:

bins = [-1, 6, 12, 18, 24]
labels = ['night', 'morning', 'afternoon', 'evening']

bike_counts['day_period'] = pd.cut(bike_counts['hour'], bins=bins, labels=labels, include_lowest=True)
print("day_period:", bike_counts.columns)

day_period: Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count',
       'year', 'month', 'day_of_week', 'hour', 'day_period'],
      dtype='object')

In [79]:



# Adjust the pivot table based on the actual column name
pivot_table = pd.pivot_table(bike_counts, values='', index='day_period', columns='working_day', aggfunc='mean')

# Print the pivot table
print("Pivot Table for Mean of Hourly Total Rentals Count:")
print(pivot_table)

KeyError: 'your_actual_column_name'

Part 2